
/* Home Page */

.back{
    background-color: #121212;
}

.cmd{
    width: 75%;
    background-color: #121212;
    font-size: 1.4rem;
    display: inline-block;
}

.prefix{
    display: inline-block;
    float: left;
    margin-right: 5px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
}

.command{
	margin-top: 5px;
}

.green{
    color: #4feb34;
    display: inline-block;
    float: left;
}

.blue{
    color: #2ee5e8;
    display: inline-block;
    float: left;
}

.normal{
    color: #ffffff;
    display: inline-block;
    float: left;
}

input{
    color: #ffffff;
    border-color: #121212;
    border: 1px;
}

select, textarea{
    color: #121212;
}

/* Help Text */

.help{
	display: none;
}

.credits{
	display: none;
}

.text, .text table tr td{
	font-size: 1.5rem;
	font-family: 'Ubuntu Mono', monospace;
	color: #ffffff;
}