
/* Home Page */

.back{
    background-color: #121212;
}

.cmd{
    width: 60%;
    background-color: #121212;
    font-size: 1.4rem;
    display: inline-block;
}

.prefix{
    display: inline-block;
    margin-right: 5px;
    font-size: 1.5rem;
    color: #ffffff;
}

input{
    color: #ffffff;
    border-color: #121212;
    border: 1px;
}